:root {
  --Grayish-blue: hsl(220, 14%, 75%);
  --Orange-color: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --black-color: hsl(0, 0%, 0%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --White-color: hsl(0, 0%, 100%);
  --Light--blue: hsl(223, 64%, 98%);
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Light--blue);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.container {
  max-width: 1440px;
  padding: 20px 75px;
}
/* navabar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Grayish-blue);
  padding-bottom: 0px;
}
.header .header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.menu-btn {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 20px;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}
.close {
  border: none;
  background-color: transparent;
  color: var(--black-color);
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
  cursor: pointer;
  width: fit-content;
  display: none;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-list a {
  margin: 0 12px;
  text-decoration: none;
  color: #777;
}
.nav-list a:hover {
  border-bottom: 3px solid var(--Orange-color);
  padding-bottom: 15px;
}
.icon {
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}
.cart-cart,
.cart-empty {
  position: absolute;
  top: 35px;
  right: -80px;
  width: 300px;
  background-color: var(--White-color);
  padding: 10px;
  z-index: 1000;
}
.cart-empty {
  height: 150px;
}
.cart-empty.active {
  display: none;
}
.cart-empty > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cart-cart h6,
.cart-empty h6 {
  margin: 0;
  text-align: left;
  font-size: 1rem;
}

.cart {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.cartDetails {
  text-align: left;
  margin-left: 10px;
  color: var(--Dark-grayish-blue);
}
.cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: var(--Dark-grayish-blue);
}
.checkout {
  background: var(--Orange-color);
  color: var(--black-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.cart img {
  width: 20%;
}
.cart h6 {
  margin: 0;
}
.icon-cart {
  position: absolute;
  content: "2";
  top: -15px;
  right: 3px;
  background-color: var(--Orange-color);
  padding: 2px 4px;
  color: white;
  font-size: 10px;
}
.avatar {
  width: 50px;
  height: 50px;
}
.avatar img {
  width: 100%;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .menu-btn {
    display: block;
  }

  .header .header-content {
    position: relative;
  }
  .nav-list {
    display: none;
  }
  .nav-list.active {
    position: absolute;
    flex-direction: column;
    top: -30px;
    left: -30px;
    width: 220px;
    height: calc(100vh - 25px);
    padding-top: 25px;
    display: flex;
    background-color: var(--White-color);
    color: var(--black-color);
    z-index: 1111;
  }
  .nav-list li {
    margin-bottom: 15px;
    text-align: left;
    padding-left: 10px;
  }
  .nav-list a:hover {
    border-bottom: 0;
    color: var(--Orange-color);
  }
  .close {
    display: block;
  }
}
/* navabar */
/* Product */
.product {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 2rem;
}
.product-imgs {
  width: 32%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product-imgs .btn {
  background-color: var(--White-color);
  outline: none;
  border-radius: 100%;
  border: 1px solid var(--White-color);
  position: absolute;
  top: 50%;
  font-size: 10px;
  cursor: pointer;
  display: none;
  width: 25px;
}
.product-imgs .btn-right {
  left: 3%;
}
.product-imgs .btn-left {
  right: 3%;
}
.product-img img,
.product-img-thumb img {
  width: 100%;
  cursor: pointer;
}
.product-img-thumb {
  display: flex;
  margin-top: 10px;
  gap: 1rem;
}
.product-img-thumb img {
  width: calc(26% - (1rem + 6px));
  border: 3px solid transparent;
}
.img-thumb {
  cursor: pointer;
}
.img-thumb:hover,
.img-thumb.active {
  opacity: 0.5;
  border: 3px solid var(--Orange-color);
}
/* product Details */
.details {
  width: 50%;

  text-align: left;
}
.company {
  color: var(--Dark-grayish-blue);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
}

.details h1 {
  font-size: 40px;
  margin: 20px 0;
  width: 75%;
}

.desc {
  color: #666;
  line-height: 1.6;
}

.price {
  display: flex;
  align-items: flex-start;

  font-size: 14px;
  flex-direction: column;
}
.price-p {
  display: flex;
  flex-direction: column;
}
.new {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
}

.badge {
  background: #ffe8d6;
  color: var(--White-color);
  background-color: var(--black-color);
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  margin-left: 2rem;
}

.old {
  text-decoration: line-through;
  color: #aaa;
}

.actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.counter {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  padding: 10px 15px;
  border-radius: 10px;
}

.counter button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.counter span {
  margin: 0 15px;
  font-weight: bold;
}

.add {
  flex: 1;
  background: var(--Orange-color);
  color: var(--black-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.productOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  /* display: none; */
}
.thumb {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
}
.thumb > div {
  margin-top: 5rem;
}
.productOverlay .product-img img {
  width: 25%;
  position: relative;
}
.productOverlay .btn {
  position: absolute;
  top: 35%;
  z-index: 11;
  border-radius: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  line-height: 0.3;
}
.productOverlay .btn-right {
  left: 39.5%;
}
.productOverlay .btn-left {
  right: 39.5%;
}
.productOverlay .product-img-thumb {
  justify-content: center;
}
.productOverlay .product-img-thumb img {
  width: 10%;
}
.closeoverlay {
  position: absolute;
  top: 5%;
  right: 40%;
  color: #fff;
  font-size: 24px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .productOverlay {
    display: none;
  }
  .product {
    flex-direction: column;
    padding: 0;
    margin-top: 1rem;
  }
  .details {
    padding: 20px;
    width: calc(90% - 20px);
  }
  .product-imgs {
    width: 100%;
  }
  .product-img-thumb {
    display: none;
  }
  .details h1 {
    width: 100%;
  }
  .price {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .price-p {
    flex-direction: row;
    align-items: center;
  }
  .new {
    margin: 0;
  }
  .product-imgs .btn {
    display: block;
  }
  .cart-cart {
    width: 90vh;
    right: -55px;
    top: 34px;
    bottom: 0;
    height: 40vh;
  }
  .cart-empty {
    height: 150px;
    width: 90vh;
  }
  .cart-empty {
    top: 56px;
    right: -60px;
  }
}
